@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}
.item-detail {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.cart-items {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}
.cart-h1 {
    font-family: 'Roboto', sans-serif;   
}
.button {
    background-color: rgb(31, 6, 122);
    color: white;
    border-radius: 5px;
    display: flex;
    margin-top: 10px;
    font-size: 14px;
    text-decoration: none;
    padding: 3px;
    font-family: 'Roboto', sans-serif;
}