@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #C4E1E7;
   padding: 10px;
   font-family: 'Roboto', sans-serif;
   font-size: 13px;
 }
 
 .nav-link {
   text-decoration: none;
   color: #333;
 }
 
 .nav-link:hover {
   color: #555;
 }
 
 .logo {
   font-size: 24px;
   font-weight: bold;
 }
 
 .cart-widget {
   margin-left: 10px;
 }
 .nav-links {
   display: flex;
 }

   
 
 