@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    
    .cart {
        font-family: 'Roboto', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 15px;
        margin: 5px;
       
      }
      
      .cart ul {
        list-style: none;
      }
      
      .cart li {
        margin-bottom: 10px;
      }
      
      .cart button {
        margin-top: 5px;
      }
      
      .centered-button {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .button {
        background-color: rgb(31, 6, 122);
        color: white;
        border-radius: 5px;
        display: flex;
        margin-top: 5px;
        font-size: 16px;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
      }
      .centered-button button {
        text-decoration: none;
        }

    