@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.detalle {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
}

.contador {
    background-color: rgb(31, 6, 122);
    border-radius: 5px;
    color: white;
  }
  
  .decrement-button {
    background-color: rgb(31, 6, 122);
    color: white;
    border-radius: 5px;
  }
  
  .increment-button {
    background-color: rgb(31, 6, 122);
    color: white;
    border-radius: 5px;
  }
  contador agregar-carrito {
    background-color: rgb(31, 6, 122);
    color: white;
    border-radius: 5px;
  }
  
     


